# Java
*.class

# Intellij
out/production
out/test
.idea/
*.iml
*.iws

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Vim
.*.swp

# Mac
.DS_Store

# Maven
log/
target/

